[Desktop Entry]
Type=Application
Name=Picom Compositor
Exec=picom --config /home/cursor/.config/picom/picom.conf -b
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
Comment=Window compositor for shadows, transparency, and animations
