[Desktop Entry]
Version=1.0
Type=Application
Name=Files
Comment=Open File Manager
Exec=thunar
Icon=system-file-manager
Terminal=false
Categories=System;FileManager;
